{{- $name := promptStringOnce . "name" "Git display name" -}}
{{- $email := promptStringOnce . "email" "Git email address" -}}
{{- $installNode := promptBoolOnce . "installNode" "Install Node.js, Prettier, and ESLint (yes/no)" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    installNode = {{ $installNode }}
