{{- if not (stat (joinPath .chezmoi.homeDir "code/trello-tools")) }}
[".local/share/trello-tools"]
    type = "git-repo"
    url = "git@github.com:dcwalker/trello-tools.git"
    refreshPeriod = "24h"
    [".local/share/trello-tools".pull]
        args = ["--ff-only"]
{{- end }}

["code/personal-ai-and-coding-standards"]
    type = "git-repo"
    url = "git@github.com:dcwalker/personal-ai-and-coding-standards.git"
    refreshPeriod = "2h"
    ["code/personal-ai-and-coding-standards".pull]
        args = ["--ff-only"]
